<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.worldalarm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name='android.permission.WAKE_LOCK'/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Teal" >
        <activity
            android:name="com.worldalarm.activities.ListAlarmsSwipeViewActivity"
            android:label="@string/action_bar_title" 
            android:icon="@drawable/ic_action_bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.worldalarm.activities.NewAlarmActivity"
            android:label="@string/set_new_alarm_text"
            android:theme="@style/AppThemeDialog" >
        </activity>
        <activity
            android:name="com.worldalarm.activities.UpdateAlarmActivity"
            android:label="@string/update_alarm_text"
            android:theme="@style/AppThemeDialog" >
        </activity>
        <activity
            android:name="com.worldalarm.activities.TimeZonesActivity"
            android:label="@string/app_name" >
        </activity>
        
        <receiver android:name='com.worldalarm.broadcast.AlarmManagerBroadcastReceiver'>
        </receiver>
        
    </application>
</manifest>
